@charset "UTF-8";
body {
        background-color: rgb(76, 135, 237);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-style: oblique;
        h1{
        color: white;
        background-color: rgb(42, 0, 139);
        }
        h2{
            color: rgb(239, 239, 241);
        }
        p{
            color: rgb(244, 244, 247);
            text text-align: justify-self: ;;
        }
    

    }